<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Parent Dashboard</title>
    <link href="/assets/css/css/fontawesome.min.css" rel="stylesheet">
    <link href="/assets/css/css/solid.min.css" rel="stylesheet">
    <link href="/assets/css/css/brands.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/master.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar" class="active">
            <div class="sidebar-header">
                <h4 style="color: black;">Parent Dashboard</h4>
            </div>
            <ul class="list-unstyled components text-secondary">
                <li>
                    <a href="dashboard.html"><i class="fas fa-home"></i> PARENT DASHBOARD</a>
                </li>



                </li>


                <li>
                    <a href="#"><i class="fas fa-child"></i>Child Details</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-syringe"></i>Vaccination Details</a>
                </li>

                <li>
                    <a href="#"><i class="fas fa-stethoscope"></i>Diagnosis</a>
                </li>
            </ul>
        </nav>
        <div id="body" class="active" style="background-color: rgb(241, 192, 241);">
            <!-- navbar navigation component -->
            <nav class="navbar navbar-expand-lg navbar-white bg-white">
                <button type="button" id="sidebarCollapse" class="btn btn-light">
                    <i class="fas fa-bars"></i><span></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ms-auto">

                        <li class="nav-item dropdown">
                            <div class="nav-dropdown">
                                <a href="#" id="nav2" class="nav-item nav-link dropdown-toggle text-secondary"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user"></i> <span id="parentName"><%= mother_name %> </span> <i
                                        style="font-size: .8em;" class="fas fa-caret-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end nav-link-menu">
                                    <ul class="nav-list">
                                        <li><a href="" class="dropdown-item"><i class="fas fa-address-card"></i>
                                                Profile</a></li>
                                        <li><a href="" class="dropdown-item"><i class="fas fa-cog"></i>Settings</a>
                                        </li>
                                        <div class="dropdown-divider"></div>
                                        <li><a href="/" class="dropdown-item"><i
                                                    class="fas fa-sign-out-alt"></i> Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- end of navbar navigation -->
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 page-header">
                            <div class="page-pretitle"></div>
                            <h1 class="page-title" style="color: black;"><b>PARENT DASHBOARD</b></h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                            <a href="parent/children">
                                <div class="card" style="border-radius: 20px;box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);">
                                    <div class="content">
                                        <div class="row">
                                            <div class="custom" style="height: 100px;">
                                                <div class="icon-big text-center">
                                                    <i class="teal fas fa-child"></i>
                                                </div>
                                            </div>
                                            <div class="custom" style="text-align: center;">
                                                <div class="detail">
                                                    <p class="detail-subtitle">View Child Details</p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="footer">


                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                            <a href="parent/vaccine1"> 
                                <div class="card" style="border-radius: 20px;box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);">
                                    <div class="content">
                                        <div class="row">
                                            <div class="custom" style="height: 100px;">
                                                <div class="icon-big text-center">
                                                    <i class="violet fas fa-syringe"></i>
                                                </div>
                                            </div>
                                            <div class="custom" style="text-align: center;">
                                                <div class="detail">
                                                    <p class="detail-subtitle">Vaccination Details</p>
                                                    <span class="number"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="footer">

                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                            <a href="parent/scheme">
                                <div class="card" style="border-radius: 20px;box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);">
                                    <div class="content">
                                        <div class="row">
                                            <div class="custom" style="height: 100px;">
                                                <div class="icon-big text-center">
                                                    <i class="green fas fa-hand-holding-medical"></i>
                                                </div>
                                            </div>
                                            <div class="custom" style="text-align: center;">
                                                <div class="detail">
                                                    <p class="detail-subtitle">Government schemes</p>
                                                    <span class="number"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="footer">

                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        

                        <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                            <a href="parent/diagnosis1">
                                <div class="card" style="border-radius: 20px;box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);">
                                    <div class="content">
                                        <div class="row">
                                            <div class="custom" style="height: 100px;">
                                                <div class="icon-big text-center">
                                                    <i class="orange fas fa-stethoscope"></i>
                                                </div>
                                            </div>
                                            <div class="custom" style="text-align: center;">
                                                <div class="detail">
                                                    <p class="detail-subtitle">diagnosis</p>
                                                    <span class="number"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="footer">

                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        
                        
                        <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                            <a href="parent/diet">
                            <div class="card" style="border-radius: 20px;box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);">
                                <div class="content">
                                    <div class="row">
                                        <div class="custom" style="height: 100px;">
                                            <div class="icon-big text-center">
                                                <i class="blue fas fa-hotdog"></i>
                                            </div>
                                        </div>
                                        <div class="custom" style="text-align: center;">
                                            <div class="detail">
                                                <p class="detail-subtitle">diet</p>
                                                <span class="number"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="/assets/js/jquery/jquery.min.js"></script>
    <script src="/assets/css/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/script.js"></script>
    <!-- <script src="./js/ParentDashboard.js"></script> -->
</body>

</html>