<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head><font size=5>
<body>

<a name="v1"></a><h1> Hepatitis B vaccination
    (minimum age: birth)</h1>

<div class="row">
  <div class="column" >
     <h2>Birth Dose</h2> 
    <h3>Mother is HBsAg-negative:</h3>
        <li>All medically stable infants ≥2,000 grams: 1 dose within 24 hours of birth
        Infants <2,000 grams: Administer 1 dose at chronological age 1 month or hospital discharge (whichever is earlier and even if weight is still <2,000 grams).</li>

        <h3>Mother is HBsAg-positive:</h3>
        <li>Administer HepB vaccine and hepatitis B immune globulin (HBIG) (in separate limbs) within 12 hours of birth, regardless of birth weight. For infants <2,000 grams, administer 3 additional doses of vaccine (total of 4 doses) beginning at age 1 month.
            Test for HBsAg and anti-HBs at age 9–12 months. If HepB series is delayed, test 1–2 months after final dose.</li>

        <h3>Mother's HBsAg status is unknown:</h3>
        <li>Administer HepB vaccine within 12 hours of birth, regardless of birth weight.
            For infants <2,000 grams, administer HBIG in addition to HepB vaccine (in separate limbs) within 12 hours of birth. Administer 3 additional doses of vaccine (total of 4 doses) beginning at age 1 month.
            Determine mother’s HBsAg status as soon as possible. If mother is HBsAg-positive, administer HBIG to infants ≥2,000 grams as soon as possible, but no later than 7 days of age.</li>
        
        </p>
<h2>Routine Vaccination</h2>
        <p> 3-dose series at age 0, 1–2, 6–18 months (use monovalent HepB vaccine for doses administered before age 6 weeks).Infants who did not receive a birth dose should begin the series as soon as feasible .Administration of 4 doses is permitted when a combination vaccine containing HepB is used after the birth dose.Minimum age for the final (3rd or 4th ) dose: 24 weeks.Minimum intervals: dose 1 to dose 2: 4 weeks / dose 2 to dose 3: 8 weeks / dose 1 to dose 3: 16 weeks (when 4 doses are administered, substitute “dose 4” for “dose 3” in these calculations)</p>
<h2>Catch up vaccination</h2>
<p>Unvaccinated persons should complete a 3-dose series at 0, 1–2, 6 months.
    Adolescents age 11–15 years may use an alternative 2-dose schedule with at least 4 months between doses (adult formulation Recombivax HB® only).
    Adolescents age 18 years or older may receive a 2-dose series of HepB (Heplisav-B®) at least 4 weeks apart.
    Adolescents age 18 years or older may receive the combined HepA and HepB vaccine, Twinrix®, as a 3-dose series (0, 1, and 6 months) or 4-dose series (3 doses at 0, 7, and 21–30 days, followed by a booster dose at 12 months).</p>
 
<h2>Special situation</h2>
<p>Revaccination is not generally recommended for persons with a normal immune status who were vaccinated as infants, children, adolescents, or adults.
   Post-vaccination serology testing and revaccination (if anti-HBs < 10mlU/mL) is recommended for certain populations, including:
       <li>Infants born to HBsAg-positive mothers</li>
       <li>Hemodialysis patients</li>
       <li>Other immunocompromised persons</li></p>

</div>
</div>

<a name="v2"></a><h1> Rotavirus vaccination
    (minimum age: 6 weeks)</h1>

<div class="row">
  <div class="column" >
     <h2>Routine Vaccination</h2> 
    <h3>Rotarix:</h3>
        <li>2-dose series at age 2 and 4 months</li>

        <h3>RotaTeq:</h3>
        <li> 3-dose series at age 2, 4, and 6 months</li>

        
        
        </p>

<h2>Catch up vaccination</h2>
<p>Do not start the series on or after age 15 weeks, 0 days.
    The maximum age for the final dose is 8 months, 0 days.</p>
 


</div>
</div>


<a name="v3"><h1> Diphtheria, tetanus, and pertussis (DTaP) vaccination
    (minimum age: 6 weeks [4 years for Kinrix® or Quadracel®])</h1>

<div class="row">
  <div class="column" >
     
<h2>Routine Vaccination</h2>
        <p> 5-dose series at age 2, 4, 6, 15–18 months, 4–6 years
            <li>Prospectively: Dose 4 may be administered as early as age 12 months if at least 6 months have elapsed since dose 3.</li>
            <li>Retrospectively: A 4th dose that was inadvertently administered as early as age 12 months may be counted if at least 4 months have elapsed since dose 3.</li></p>
<h2>Catch up vaccination</h2>
<p>Dose 5 is not necessary if dose 4 was administered at age 4 years or older and at least 6 months after dose 3Dose 5 is not necessary if dose 4 was administered at age 4 years or older and at least 6 months after dose 3.</p>
 
<h2>Special situation</h2>
<p>Wound management in children less than age 7 years with history of 3 or more doses of tetanus-toxoid-containing vaccine: For all wounds except clean and minor wounds, administer DTaP if more than 5 years since last dose of tetanus-toxoid-containing vaccine.</p>

</div>
</div>
<a name="v4"><h1> Haemophilus influenzae type b vaccination
    (minimum age: 6 weeks)</h1>

<div class="row">
  <div class="column" >
     
<h2>Routine Vaccination</h2>
        <p>  <li>ActHIB®, Hiberix®, Pentacel®, or Vaxelis®: 4-dose series (3 dose primary series at age 2, 4, and 6 months, followed by a booster dose* at age 12–15 months).Vaxelis® is not recommended for use as a booster dose. A different Hib-containing vaccine should be used for the booster dose.</li>
            <li>PedvaxHIB®: 3-dose series (2-dose primary series at age 2 and 4 months, followed by a booster dose at age 12–15 months)</li></p>
<h2>Catch up vaccination</h2>
<p><li>Dose 1 at age 7–11 months: Administer dose 2 at least 4 weeks later and dose 3 (final dose) at age 12–15 months or 8 weeks after dose 2 (whichever is later).</li>
    <li>Dose 1 at age 12–14 months: Administer dose 2 (final dose) at least 8 weeks after dose 1.
    </li>
    <li>Dose 1 before age 12 months and dose 2 before age 15 months: Administer dose 3 (final dose) at least 8 weeks after dose 2.
    </li>
    <li>2 doses of PedvaxHIB® before age 12 months: Administer dose 3 (final dose) at age 12–59 months and at least 8 weeks after dose 2.</li>
       <li>1 dose administered at age 15 months or older: No further doses needed</li>
       <li>Unvaccinated at age 15–59 months: Administer 1 dose.</li>
       <li>Previously unvaccinated children age 60 months or older who are not considered high risk: Do not require catch-up vaccination</li>
 
<h2>Special situation</h2>
<h3>Chemotherapy or radiation treatment:</h3>
<li>Age 12–59 months</li>
<li>Unvaccinated or only 1 dose before age 12 months: 2 doses, 8 weeks apart</li>
<li>2 or more doses before age 12 months: 1 dose at least 8 weeks after previous dose</li>
<li>Doses administered within 14 days of starting therapy or during therapy should be repeated at least 3 months after therapy completion.</li>
<h3>Hematopoietic stem cell transplant (HSCT):</h3>
<li>3-dose series 4 weeks apart starting 6 to 12 months after successful transplant regardless of Hib vaccination history</li>
<h3>Anatomic or functional asplenia (including sickle cell disease):</h3>
<li>Age 12–59 months</li>
<li>Unvaccinated or only 1 dose before age 12 months: 2 doses, 8 weeks apart</li>
<li>2 or more doses before age 12 months: 1 dose at least 8 weeks after previous dose</li>

</div>
</div>
<a name="v5"><h1> Pneumococcal vaccination
    (minimum age: 6 weeks [PCV13], 2 years [PPSV23])</h1>

<div class="row">
  <div class="column" >
     
<h2>Routine Vaccination</h2>
       <li>4-dose series at age 2, 4, 6, 12–15 months</li>
<h2>Catch up vaccination</h2>
<li>1 dose for healthy children age 24–59 months with any incomplete* PCV13 series</li>
 
<h2>Special situation</h2>
<p><h3>Underlying conditions below: When both PCV13 and PPSV23 are indicated, administer PCV13 first. PCV13 and PPSV23 should not be administered during same visit.

    Chronic heart disease (particularly cyanotic congenital heart disease and cardiac failure); chronic lung disease (including asthma treated with high-dose, oral corticosteroids); diabetes mellitus:</h3>
    </p>
    <h4>Age 2–5 years</h4>
    <li>Any incomplete* series with:</li>
    <p>3 PCV13 doses: 1 dose PCV13 (at least 8 weeks after any prior PCV13 dose),
        Less than 3 PCV13 doses: 2 doses PCV13 (8 weeks after the most recent dose and administered 8 weeks apart)</p>
        <h4>Age 6–18 years</h4>
        <li>No history of PPSV23: 1 dose PPSV23 (at least 8 weeks after completing all recommended PCV13 doses)</li>
        <h3>Cerebrospinal fluid leak, cochlear implant:</h3>
        <h4>Age 2–5 years</h4>
        <li>Any incomplete* series with:
            3 PCV13 doses: 1 dose PCV13 (at least 8 weeks after any prior PCV13 dose),
            Less than 3 PCV13 doses: 2 doses PCV13 (8 weeks after the most recent dose and administered 8 weeks apart),
            No history of PPSV23: 1 dose PPSV23 (at least 8 weeks after any prior PCV13 dose).</li>
        <h4>Age 6–18 years</h4>
        <li>No history of either PCV13 or PPSV23: 1 dose PCV13, 1 dose PPSV23 at least 8 weeks later,
            Any PCV13 but no PPSV23: 1 dose PPSV23 at least 8 weeks after the most recent dose of PCV13,
            PPSV23 but no PCV13: 1 dose PCV13 at least 8 weeks after the most recent dose of PPSV23. </li>
</div>
</div>

<a name="v6"><h1> Poliovirus vaccination
    (minimum age: 6 weeks)</h1>

<div class="row">
  <div class="column" >
     
<h2>Routine Vaccination</h2>
        <li>4-dose series at ages 2, 4, 6–18 months, 4–6 years; administer the final dose on or after age 4 years and at least 6 months after the previous dose.</li>
       <li>4 or more doses of IPV can be administered before age 4 years when a combination vaccine containing IPV is used. However, a dose is still recommended on or after age 4 years and at least 6 months after the previous dose.</li>
<h2>Catch up vaccination</h2>
<li>In the first 6 months of life, use minimum ages and intervals only for travel to a polio-endemic region or during an outbreak.</li>
<li>IPV is not routinely recommended for U.S. residents age 18 years or older.</li>

</div>
</div>
<a name="v7"><h1> Influenza vaccination
    (minimum age: 6 months [IIV], 2 years [LAIV4], 18 years [recombinant influenza vaccine, RIV4])</h1>

<div class="row">
  <div class="column" >
     
<h2>Routine Vaccination</h2>
        <p> Use any influenza vaccine appropriate for age and health status annually:
            <li>2 doses, separated by at least 4 weeks, for children age 6 months–8 years who have received fewer than 2 influenza vaccine doses before July 1, 2021, or whose influenza vaccination history is unknown (administer dose 2 even if the child turns 9 between receipt of dose 1 and dose 2)</li>
            <li>1 dose for children age 6 months–8 years who have received at least 2 influenza vaccine doses before July 1, 2021</li>
            <li>1 dose for all persons age 9 years or older</li></p>

 
<h2>Special situation</h2>

       <li>Egg allergy, hives only: Any influenza vaccine appropriate for age and health status annually</li>
       <li>Egg allergy with symptoms other than hives (e.g., angioedema, respiratory distress) or required epinephrine or another emergency medical intervention: see Appendix listing contraindications and precautions.</li>
       

</div>
</div>


<a name="v8"><h1> Measles, mumps, and rubella vaccination
    (minimum age: 12 months for routine vaccination)</h1>

<div class="row">
  <div class="column" >
    
<h2>Routine Vaccination</h2>
        <p> <li>2-dose series at age 12–15 months, age 4–6 years</li>
            <li>MMR or MMRV may be administered</li></p>
            <p>Note: For dose 1 in children age 12–47 months, it is recommended to administer MMR and varicella vaccines separately. MMRV may be used if parents or caregivers express a preference.</p>
<h2>Catch up vaccination</h2>
<p><li>Unvaccinated children and adolescents: 2-dose series at least 4 weeks apart</li>
    <li>The maximum age for use of MMRV is 12 years.</li>
    <li>Minimum interval between MMRV doses: 3 months</li></p>
 
<h2>Special situation</h2>
<h3>International travel</h3>

    <li>Infants age 6–11 months: 1 dose before departure; revaccinate with 2-dose series at age 12–15 months (12 months for children in high-risk areas) and dose 2 as early as 4 weeks later.</li>
    <li>Unvaccinated children age 12 months or older: 2-dose series at least 4 weeks apart before departure</li>
       
</div>
</div>
<a name="v9"><h1> Varicella vaccination
    (minimum age: 12 months)</h1>

<div class="row">
  <div class="column" >
     
<h2>Routine Vaccination</h2>
        <p><li>2-dose series at age 12–15 months, 4–6 years</li> 
            <li>VAR or MMRV may be administered</li>
            <li>Dose 2 may be administered as early as 3 months after dose 1 (a dose inadvertently administered after at least 4weeks may be counted as valid)</li>
            <p>Note: For dose 1 in children age 12–47 months, it is recommended to administer MMR and varicella vaccines separately. MMRV may be used if parents or caregivers express a preference.</p>
<h2>Catch up vaccination</h2>
<p>Ensure persons age 7–18 years without evidence of immunity
    <li>Age 7–12 years: routine interval: 3 months (a dose inadvertently administered after at least 4 weeks may be counted as valid)</li>
<li>Age 13 years and older: routine interval: 4–8 weeks (minimum interval: 4 weeks)</li>
<li>The maximum age for use of MMRV is 12 years.</li>
 


</div>
</div>




</body></font>
</html>
