<!DOCTYPE html>
<!-- saved from url=(0032)http://127.0.0.1:5500/blog1.html -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<body>
    <div class="bg" style="background-image: url(&#39;newborn.jpg&#39;); background-size:cover; opacity:1;">
    <div>
        <h1><u>Newborn and child health</u></h1>
        <h2>'Let’s end preventable neonatal deaths and ensure Every Child ALIVE.'</h2>
   </div>
   <div align="justify">
   <div class="container">
    <div class="imgcontainer">
        <img src="baby.jpg" alt="Avatar" class="avatar" width="700" height="500">
    </div>
    <div align="justify">
        <font size="5">
            <line spacing="1.5">
        <p>
         </p><li><strong>With the birth of 25 million children each year India accounts for nearly one fifth of the world’s annual child births. Every minute one of those babies dies.Nearly 46 per cent of all maternal deaths and 40 per cent of neonatal deaths happen during labour or the first 24 hours after birth. Pre-maturity (35 per cent), neonatal infections (33 per cent), birth asphyxia (20 per cent) and congenital malformations (9 per cent) are among the major causes of new-born deaths.</li>
        <li>Yet, death during and after delivery is largely preventable by enabling access to skilled birth attendants and emergency obstetric care. In the post-new-born period, survival rates also rise sharply with early and exclusive breastfeeding and immunization against measles and other vaccine preventable diseases.</li>
       <h3> Nearly 3.5 million babies in India are born too early, 1.7 million babies are born with birth defects, and one million new-borns are discharged each year from Special New-born Care Units (SNCUs). These new-borns remain at high risk of death, stunting, and developmental delay.India has made progress in the reduction of newborn mortality with it’s share of the global newborn mortality burden coming down from one third of newborn deaths in 1990 to below a quarter of total newborn deaths today. There are nearly nearly one million fewer newborn deaths and ten thousand fewer maternal deaths each month in India in 2017 as compared to 2000. This is a result of more and more women delivering in health facilities.</h3>

<li>Just over a decade ago, six out of ten women delivered in their homes, without the support of a skilled birth attendant, putting both themselves and their new-born at risk. Today, this number has reduced threefold with eight out of ten women delivering in a health facility.The quality of service delivery, though, has not kept pace with the increase in coverage. Early initiation of breastfeeding among just 42 per cent, high rates of stillbirths (5 per 1000 births, Source: SRS 2017) and many deaths due to asphyxia in SNCUs are consequences of low quality of healthcare delivery across the Country.</li>

<li>The increase in coverage has also been inequitable with 21 per cent (NFHS 4) women – majority of who are tribal and from the poorest households, often in hard to access areas, still delivering in their homes. The first 28 days of a new-born’s life is a critical window of opportunity for prevention and management of maternal and new-born complications, which can otherwise prove fatal.</li>
<h4>The first 28 days of a new-born’s life is a critical window of opportunity for prevention and management of maternal and new-born complications, which can otherwise prove fatal.</h4>
 <li>Although India has shown significant progress in the reduction of child mortality, now the focus needs to be on  reaching the most marginalized, with special focus on the girl child. While the rapid scale up of SNCUs in the country has accelerated reduction of neonatal mortality, it has also brought to light socio-cultural barriers in care seeking even for new-born girls. 

    In many cases, girl new-borns are denied their right to proper care especially in the states of Bihar, Madhya Pradesh, Rajasthan and Uttar Pradesh. Despite the availability of free service, less than half (41 per cent) of admissions to the SNCUs are of girls. In 2019, 190,000 fewer new-born girls were admitted to over 849 SNCUs across India. Though evidence reveals new-born girls as biologically stronger, they remain socially vulnerable due to widespread male child preference, reflected in the higher infant and under five mortality of girl children. </li> 
<h4>India is the only large country in the world where more girl babies die than boy babies (U5MR). The gender differential in under 5 mortality is 3 percent.</h4>
    <li>UNICEF emphasizes demand generation through social and behaviour change initiatives that promote institutional deliveries and the stay of mothers recovering in health facilities. During their stay, key messages on family planning, early and exclusive breastfeeding, handwashing and newborn care are frequently promoted.  Community interventions are backed up by efforts to improving access of pregnant women to quality and respectful care in health facilities and ensuring the continuum of care with follow-up home-based new-born care visits for both mother and new-born by community health workers known as ASHA workers. </li>
 </strong>
</line></font> 
<div class="content">
    <p></p>
    <a href="blog2.html" class="btn"> Read full</a>
</div>

</div>
    
</body>
</html>