<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<style>
    .register-photo {
        background: #f1f7fc;
        padding: 100px 100px
    }

    .register-photo .image-holder {
        display: table-cell;
        width: auto;
        background-image: url("image/signup.jpg");
        background-size: cover
    }

    .register-photo .form-container {
        display: table;
        max-width: 900px;
        width: 90%;
        margin: 0 auto;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1)
    }

    .register-photo form {
        display: table-cell;
        width: 400px;
        background-color: #ffffff;
        padding: 50px 50px;
        color: #505e6c
    }

    @media (max-width:991px) {
        .register-photo form {
            padding: 40px
        }
    }

    .register-photo form h2 {
        font-size: 24px;
        line-height: 1.5;
        margin-bottom: 30px
    }

    .register-photo form .form-control {
        background: transparent;
        border: none;
        border-bottom: 1px solid #dfe7f1;
        border-radius: 0;
        box-shadow: none;
        outline: none;
        color: inherit;
        text-indent: 0px;
        height: 40px;
        width: 250px;
    }

    .register-photo form .form-controll {
        background: transparent;
        border: none;
        border-bottom: 1px solid #dfe7f1;
        border-radius: 0;
        box-shadow: none;
        outline: none;
        color: inherit;
        text-indent: 0px;
        height: 40px;
        width: 250px;
    }

    .register-photo form .form-check {
        font-size: 13px;
        line-height: 20px
    }

    .register-photo form .btn-primary {
        background: green;
        border: none;
        border-radius: 4px;
        padding: 11px;
        box-shadow: none;
        margin-top: 35px;
        text-shadow: none;
        outline: none !important
    }
</style>

<body style="background-color: #f1f7fc ;">
    <div class="register-photo">
        <div class="form-container">

            <div class="image-holder"></div>

            <form action="" method="post">
                <button type="button" class="btn btn-danger"><a href="index.html"
                        style="text-decoration: none;color: white;">Home</a></button>
                <center>
                    <h2 class="text-center">Parent Login</h2>
                </center>

                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="Email ID" required id="email">
                </div>

                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password" id="password"
                        required>
                </div>
                <br>
                <!-- <a href="#" class="btn btn-danger">Login</a> -->
                <input type="submit" class="btn btn-danger" value="Login" id="loginButton" />




                <!--<div class="form-group"><button class="button" type="submit">Sign Up</button></div>
                <a class="already" href="#">Already have an account? Login .</a>-->
                <!-- <a class="already" href="#">Already have an account? Login .</a>-->
                <!-- <p style="text-align:center;;">Don't have an account? <a  style="color:  #FF0000"href="signup.html" class="link-danger">Signup</a></p> -->
            </form>
        </div>
    </div>
    <script src="./js/ParentSignIn.js"></script>


</body>

</html>