<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/scheme.css">
    <title>Document</title>
</head>
<body>
  <!--Schemes image--> 
  <img
   class="scheme-picture" src="https://www.unicef.org/india/sites/unicef.org.india/files/styles/hero_desktop/public/UNI341035.jpg?itok=hQ6WQWJI"

  />

   <!-- Main title-->
    <div class="main-title"><p style="color:navy">Healthcare Schemes You Need to Know</p></div>
   <!-- links-->
   <a href="schemedetail#scheme1" class="links"> Janani Shishu Suraksha Karyakaram (JSSK)</a>
   <a href="schemedetail#scheme2" class="links">RMNCH+A</a>
   <a href="schemedetail.#scheme3" class="links">RASHTRIYA BAL SWASTHYA KARYAKRAM(RBSK)</a>
   <a href="schemedetail#scheme4" class="links">MISSION INDRADHANUSH</a>
   <a href="schemedetail#scheme5" class="links">INTEGRATED CHILD DEVELOPMENT SERVICES (ICDS) SCHEME</a>


</body>
</html>