<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/scheme.css">
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>


</head>
<body>
<a name="scheme1"><h1> Janani Shishu Suraksha Karyakaram (JSSK)</h1></a>


<div class="row">
  <div class="column" >
  <h2>Introduction</h2>
    <p>IGovernment of India has launched the Janani Shishu Suraksha Karyakaram (JSSK) on 1st June, 2011. The scheme is to benefit pregnant women who access Government health facilities for their delivery. Moreover it will motivate those who still choose to deliver at their homes to opt for institutional deliveries. All the States and UTs have initiated implementation of the scheme.
</p>
<h2>Situation</h2>
        <p>High out of pocket expenses being incurred by pregnant women and their families in the case of institutional deliveries in form of drugs, User charges, diagnostic tests, diet, for C –sections.</p>
<h2>The New Initiative</h2>
<p>In view of the difficulty being faced by the pregnant women and parents of sick new- born along-with high out of pocket expenses incurred by them on delivery and treatment of sick- new-born, Ministry of Health and Family Welfare (MoHFW) has taken a major initiative to evolve a consensus on the part of all States to provide completely free and cashless services to pregnant women including normal deliveries and caesarean operations and sick new born (up to 30 days after birth) in Government health institutions in both rural and urban areas.</p>
 <h3>The following are the Free Entitlements for pregnant women:</h3>
<p><ul><li>Free and cashless delivery</li>
    <li> C-Section</li>
    <li>Free drugs and consumables</li>
    <li>Free diagnostics</li>
    <li>Free diet during stay in the health institutions</li>
    <li>Free provision of blood</li>
    <li>Exemption from user charges</li>
    <li>Free transport from home to health institutions</li>
    <li>Free transport between facilities in case of referral</li>
    <li>Free drop back from Institutions to home after 48hrs stay</li></ul></p>
<h3>The following are the Free Entitlements for Sick newborns till 30 days after birth.This has now been expanded to cover sick infants:</h3>
<p><ul><li>Free treatment</li>
    <li>Free drugs and consumables</li>
    <li>Free diagnostics</li>
    <li>Free provision of blood</li>
    <li>Exemption from user charges</li>
    <li>Free Transport from Home to Health Institutions</li></ul></p>

</div>
</div>
<a name="scheme2"><h1> Reproductive, Maternal, Newborn, Child and Adolescent Health(RMNCH+A)</h1></a>


<div class="row">
  <div class="column" >
  <h2>Introduction</h2>
    <p>Improving the maternal and child health and their survival are central to the achievement of national health goals under the National Health Mission (NHM). SDG Goal 3 also includes the focus on reducing maternal, newborn and child mortality. In the past years, innovative strategies evolved under the national programme to deliver evidence-based interventions to various population groups.

        Following the Government of India’s “Call to Action (CAT) Summit” in February, 2013, the Ministry of Health & Family Welfare launched Reproductive, Maternal, Newborn Child plus Adolescent Health (RMNCH+A) to influence the key interventions for reducing maternal and child morbidity and mortality. 
        
        The RMNCH+A strategy is built upon the continuum of care concept and is holistic in design, encompassing all interventions aimed at reproductive, maternal, newborn, child, and adolescent health under a broad umbrella, and focusing on the strategic lifecycle approach.
        </p>
<h3>The RMNCH+A strategy promotes links between various interventions across thematic areas to enhance coverage throughout the lifecycle to improve child survival in India. The “plus” within the strategy focuses on:</h3>
        <p><ul><li>Inclusion of adolescence as a distinct life stage within the overall strategy.</li>
    <li> Linking maternal and child health to reproductive health and other components like family planning, adolescent health, HIV, gender, and preconception and prenatal diagnostic techniques.</li>
    <li>Linking home and community-based services to facility-based services.</li>
    <li>Ensuring linkages, referrals, and counter-referrals between and among various levels of health care system to create a continuous care pathway, and to bring an additive /synergistic effect in terms of overall outcomes and impact.</li>
</ul></p>
<h2>Key features of RMNCH+A Strategy:</h2>
<p>The RMNCH+A strategy approaches include:</p>
<p><ul><li>Health systems strengthening (HSS) focusing on infrastructure, human resources, supply chain management, and referral transport measures.</li>
    <li>Prioritization of high-impact interventions for various lifecycle stages.</li>
    <li>Increasing effectiveness of investments by prioritizing geographical areas based on evidence.
    </li>
    <li>Integrated monitoring and accountability through good governance, use of available data sets, community involvement, and steps to address grievance</li>
    <li>Broad-based collaboration and partnerships with ministries, departments, development partners, civil society, and other stakeholders.</li></ul></p>

</div>
</div>
<a name="scheme3"><h1>  Rashtriya Bal Swasthya Karyakram (RBSK)</h1></a>


<div class="row">
  <div class="column" >
  <h2>Introduction</h2>
    <p>Under National Rural Health Mission, significant progress has been made in reducing
        mortality in children over the last seven years (2005-12). Whereas there is an advance in
        reducing child mortality there is a dire need to improving survival outcome. This would be
        reached by early detection and management of conditions that were not addressed
        comprehensively in the past.
        According to March of Dimes (2006), out of every 100 babies born in this country annually,
        6 to 7 have a birth defect. This would translate to around 17 lakhs birth defects annually in
        the country and accounts for 9.6% of all the newborn deaths. Various nutritional
        deficiencies affecting the preschool children range from 4 per cent to 70 per cent.
        Developmental delays are common in early childhood affecting at least 10 percent of the
        children. These delays if not intervened timely may lead to permanent disabilities including
        cognitive, hearing or vision impairment. Also, there are group of diseases common in
        children viz. dental caries, rheumatic heart disease, reactive airways diseases etc. Early
        detection and management diseases including deficiencies bring added value in preventing
        these conditions to progress to its more severe and debilitating form and thereby reducing
        hospitalization and improving implementation of Right to Education</p>
        <p>Rashtriya Bal Swasthya Karyakram (RBSK) is an important initiative aiming at early
            identification and early intervention for children from birth to 18 years to cover 4 ‘D’s viz.
            Defects at birth, Deficiencies, Diseases, Development delays including disability.
            It is important to note that the 0-6 years age group will be specifically managed at District
            Early Intervention Center (DEIC) level while for 6-18 years age group, management of
            conditions will be done through existing public health facilities. DEIC will act as referral
            linkages for both the age groups.
            First level of screening is done at all delivery points through existing Medical Officers, Staff
            Nurses and ANMs. After 48 hours till 6 weeks the screening of newborns will be done by
            ASHA at home as a part of Home Based New-born Care (HBNC) package.
            Outreach screening will be done by dedicated Mobile Health teams for 6 weeks to 6 years at
            anganwadis centres and 6-18 years children at school.</p>
            <p>Once the child is screened and referred from any of these points of identification, it would be
                ensured that the necessary treatment/intervention is delivered at zero cost to the family.</p>
<h2>Target age group</h2>
        <p>The services aim to cover children of 0-6 years of age in rural areas and urban slums in addition to
            children enrolled in classes 1st to 12th in Government and Government aided Schools. It is expected
            that these services will reach to about 27 crores children in a phased manner. The broad category of
            age group and estimated beneficiary is as shown below in the table. The children have been grouped
            in to three categories owing to the fact that different sets of tools would be used and also different set
            of conditions could be prioritized.</p>
            

<h2>Target group under Child Health Screening and Intervention Service Categories</h2>

<table>
  <tr>
    <th>Categories</th>
    <th>Age Group</th>
    <th>Estimated Coverage</th>
  </tr>
  <tr>
    <td>Babies born at public health facilities and
        home</td>
    <td>Birth to 6 weeks</td>
    <td>2 Crores</td>
  </tr>
  <tr>
    <td>Preschool Children in rural areas and
        urban slum</td>
    <td>6weeks to 6 years</td>
    <td>8 Crores</td>
  </tr>
  <tr>
    <td>School Children enrolled in class 1st to 12th
      in government and government aided
      schools</td>
    <td>6yrs to 18 yrs</td>
    <td>17 crores</td>
  </tr>
 
  </tr>
</table>

</body>
</html>

<h2>Health conditions to be screened</h2>
<p>Child Health Screening and Early Intervention Services under RBSK envisages to cover 30
  selected health conditions for Screening, early detection and free management. States and UTs
  may also include diseases namely hypothyroidism, Sickle cell anaemia and Beta Thalassemia
  based on epidemiological situation and availability of testing and specialized support facilities
  within State and UTs</p>
  <h2>Selected Health Conditions for Child Health Screening & Early Intervention Services</h2>
  <h3>Defects at Birth </h3>
<p><ul><li>Neural tube defect</li>
    <li>Down's Syndrome</li>
    <li>Cleft Lip & Palate / Cleft palate alone
    </li>
    <li>Talipes (club foot)</li>
    <li>Developmental dysplasia of the hip</li>
    <li>Congenital cataract</li>
    <li>Congenital deafness</li>
    <li>Congenital heart diseases
    </li>
    <li>Retinopathy of Prematurity</li></ul></p>
    <h3>Deficiencies</h3>
    <p><ul><li>Anaemia especially Severe anaemia</li>
      <li>Vitamin A deficiency (Bitot spot)
      </li>
      <li>Vitamin D Deficiency, (Rickets)
      </li>
      <li>Severe Acute Malnutrition
      </li>
      <li>Goiter</li></ul></p>

</div>
</div>

<a name="scheme4"><h1> Mission Indradhanush</h1></a>


<div class="row">
  <div class="column" >
  <h2>Introduction</h2>
    <p>Immunization Programme in India was introduced in 1978 as ‘Expanded Programme of Immunization’ (EPI) by the Ministry of Health and Family Welfare, Government of India. In 1985, the programme was modified as ‘Universal Immunization Programme’ (UIP) to be implemented in phased manner to cover all districts in the country by 1989-90 with the one of largest health programme in the world. Despite being operational for many years, UIP has been able to fully immunize only 65% children in the first year of their life.

        Through UIP, Government of India is providing vaccination free of cost against vaccine preventable diseases include diphtheria, pertussis, tetanus, polio, measles, severe form of childhood tuberculosis, hepatitis B, meningitis and pneumonia (Hemophilus influenza type B infections), Japanese encephalitis (JE) in JE endemic districts with introduction of newer vaccines  such as rotavirus vaccine, IPV, adult JE vaccine, pneumococcal conjugate vaccine (PCV)  and measles-rubella (MR) vaccine in UIP/national immunization programme.</p>
<h2>Mission Indradhanush</h2>
        <p>To strengthen and re-energize the programme and achieve full immunization coverage for all children and pregnant women at a rapid pace, the Government of India launched “Mission Indradhanush” in December 2014.</p>
<h2>Goal of Mission Indradhanush:</h2>
<p>The ultimate goal of Mission Indradhanush is to ensure full immunization with all available vaccines for children up to two years of age and pregnant women. The Government has identified 201 high focus districts across 28 states in the country that have the highest number of partially immunized and unimmunized children.

    Earlier the increase in full immunization coverage was 1% per year which has increased to 6.7% per year through the first two phases of Mission Indradhanush. Four phases of Mission Indradhanush have been conducted till August 2017 and more than 2.53 crore children and 68 lakh pregnant women have been vaccinated. </p>
    <h2>Intensified Mission Indradhanush (IMI)</h2>
<p>To further intensify the immunization programme, Prime Minister Shri Narendra Modi launched the Intensified Mission Indradhanush (IMI) on October 8, 2017. Through this programme, Government of India aims to reach each and every child up to two years of age and all those pregnant women who have been left uncovered under the routine immunisation programme/UIP. The focus of special drive was to improve immunisation coverage in select districts and cities to ensure full immunisation to more than 90% by December 2018.

    Under IMI, four consecutive immunization rounds were conducted for 7 days in 173 districts (121 districts and 17 cities in 16 states and 52 districts in 8 northeastern states) every month between October 2017 and January 2018. Intensified Mission Indradhanush has covered low performing areas in the selected districts (high priority districts) and urban areas. Special attention was given to unserved/low coverage pockets in sub-centre and urban slums with migratory population. The focus was also on the urban settlements and cities identified under National Urban Health Mission (NUHM).</p>
    <h2>Intensified Mission Indradhanush (IMI) 2.0</h2>
    <p>To boost the routine immunization coverage in the country, Government of India has introduced Intensified Mission Indradhanush 2.0 to ensure reaching the unreached with all available vaccines and accelerate the coverage of children and pregnant women in the identified districts and blocks from December 2019-March 2020.

        The IMI 2.0 aims to achieve targets of full immunization coverage in 272 districts in 27 States and at block level (652 blocks) in Uttar Pradesh and Bihar among hard-to-reach and tribal populations.
        
         With the launch of Intensified Mission Indradhanush 2.0, India has the opportunity to achieve further reductions in deaths among children under five years of age, and achieve the Sustainable Development Goal of ending preventable child deaths by 2030.
        
        Several ministries, including the Ministry of Women and Child Development, Panchayati Raj, Ministry of Urban Development, Ministry of Youth Affairs and others have come together to make the mission a resounding success and support the central government in ensuring the benefits of vaccines reach the last mile.</p>
        <h3>The salient features of IMI 2.0 are:</h3>
        <p><ul><li>Conduction of four rounds of immunization activity over 7 working days excluding the RI days, Sundays and holidays.</li>
            <li>Enhanced immunization session with flexible timing, mobile session and mobilization by other departments.</li>
            <li>Enhanced focus on left outs, dropouts, and resistant families and hard to reach areas.</li>
            <li>Focus on urban, underserved population and tribal areas.</li>
            <li>Inter-ministerial and inter-departmental coordination.</li>
            <li>Enhance political, administrative and financial commitment, through advocacy.</li></ul></p>

</div>
</div>
<a name="scheme5"><h1> INTEGRATED CHILD DEVELOPMENT SERVICES (ICDS) SCHEME</h1></a>


<div class="row">
  <div class="column" >
  <h2>Introduction</h2>
    <p>Children in the age group 0-6 years constitute around 158 million of the population of India (2011 census). These Children are the future human resource of the country. Ministry of Women and Child Development is implementing various schemes for welfare, development and protection of children.

        Launched on 2nd October, 1975, the Integrated Child Development Services (ICDS) Scheme is one of the flagship programmes of the Government of India and represents one of the world’s largest and unique programmes for early childhood care and development. It is the foremost symbol of country’s commitment to its children and nursing mothers, as a response to the challenge of providing pre-school non-formal education on one hand and breaking the vicious cycle of malnutrition, morbidity, reduced learning capacity and mortality on the other. The beneficiaries under the Scheme are children in the age group of 0-6 years, pregnant women and lactating mothers.</p>
    
    <h3> Objectives of the Scheme are:</h3>
       
        <p><ul><li>To improve the nutritional and health status of children in the age-group 0-6 years</li>
            <li>To lay the foundation for proper psychological, physical and social development of the child</li>
            <li>To reduce the incidence of mortality, morbidity, malnutrition and school dropout</li>
            <li>To achieve effective co-ordination of policy and implementation amongst the various departments to promote child development</li>
            <li>to enhance the capability of the mother to look after the normal health and nutritional needs of the child through proper nutrition and health education</li></ul></p>

</div>
</div>


</body>
</html>
