<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>infant health management </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/css/vaccine1.css">
</head>
<body>
    <div class="container">

        <h1>VACCINATION CHART</h1>
        <hr>
        <div class="row">
          <table class="table row-select">
            <thead>
              <tr class="head">
               
               
                <th id="vacc">Vaccine</th>
      <th id="birth" class="text-align-center">Birth</th>
      <th id="mo1" class="text-align-center">1 mo</th>
      <th id="mos2" class="text-align-center">2 mos</th>
      <th id="mos4" class="text-align-center">4 mos</th>
      <th id="mos6" class="text-align-center">6 mos</th>
      <th id="mos9" class="text-align-center">9 mos</th>
      <th id="mos12" class="text-align-center">12 mos</th>
      <th id="mos15" class="text-align-center">15 mos</th>
              </tr>
            </thead>
            <tbody>
              <form action="/doctor/vaccine">

              
              <tr>
                
              
                    <td><a href="aboutvaccine#v1">hepb</a></td>
                              <td>
                  <select name="sel1" class="form-control">
                                          <option class="lt"value="one" >COMP(1<sup>st)</option>
                                          <option class="lt"value="two">DUE(1<sup>st)</option>
                                          <option class="lt"value="three">O-DUE(1<sup>st)</option>
                                          <option 
                                      </select>
                </td>
                                 <td colspan="2">
                  <select name="sel1" class="form-control">
                                          <option  class="lt" value="one" >COMP(2<sup>nd)</option>
                                          <option class="lt"value="two">DUE(2<sup>nd)</option>
                                          <option class="lt"value="three">O-DUE(2<sup>nd</option>
                                            </select>
                                   </td>
                <td></td>
                <td colspan="4">
                  <select name="sel1" class="form-control">
                                          <option class="lt" value="one" >&larr;COMP(3<sup>rd)&rarr;</option>
                                          <option class="lt"value="two">DUE(3<sup>rd)</option>
                                          <option class="lt"value="three">O-DUE(3<sup>rd</option>
                                            </select>
                                   </td>
                
                                        
              </tr>
               <tr>
                
              
              <td> <a href="aboutvaccine#v2">(Rotavirus)</a><td>
                 <td></td>
                 <td></td>
                 <td>
                  <select name="sel1" class="form-control">
                                          <option class="lt"value="one" >COMP(1<sup>st)</option>
                                          <option class="lt"value="two">DUE(1<sup>st)</option>
                                          <option class="lt"value="three">O-DUE(1<sup>st)</option>
                                          <option 
                                      </select>
                </td>
                   <td>
                  <select name="sel1" class="form-control">
                                          <option class="lt"value="one" >COMP(2<sup>nd)</option>
                                          <option class="lt"value="two">DUE(2<sup>nd)</option>
                                          <option class="lt"value="three">O-DUE(2<sup>nd)</option>
                                         
                                      </select>
                </td>
                 
                 </tr>
               <tr>
                
              
                <td> <a href="aboutvaccine#v3">(Diphtheria,Tetanus)</a><td>
                  <td></td>
                <td></td>
                 <td>
                  <select name="sel1" class="form-control">
                                          <option class="lt"value="one" >COMP(1<sup>st)</option>
                                          <option class="lt"value="two">DUE(1<sup>st)</option>
                                          <option class="lt"value="three">O-DUE(1<sup>st)</option>
                                         
                                      </select>
                </td>
                   <td>
                  <select name="sel1" class="form-control">
                                          <option value="one" >COMP(2<sup>nd)</option>
                                          <option value="two">DUE(2<sup>nd)</option>
                                          <option value="three">O-DUE(2<sup>nd)</option>
                                           
                                      </select>
                </td>
                     
                  <td>
                  <select name="sel1" class="form-control">
                                          <option value="one" >COMP(3<sup>rd)</option>
                                          <option value="two">DUE(3<sup>rd)</option>
                                          <option value="three">O-DUE(3<sup>rd)</option>
                                          <option 
                                      </select>
                </td>
                    <td></td>
                 <td></td>
                  <td>
                  <select name="sel1" class="form-control">
                                          <option value="one" >COMP(4<sup>th)</option>
                                          <option value="two">DUE(4<sup>th)</option>
                                          <option value="three">O-DUE(4<sup>th)</option>
                                          <option 
                                      </select>
                </td>
                 
                     
                 </tr>
              
                <tr>
                
              
                  <td> <a href="aboutvaccine#v4">(Hib)</a><td>
                  <td></td>
                <td></td>
                 <td>
                  <select name="sel1" class="form-control">
                                          <option class="lt"value="one" >COMP(1<sup>st)</option>
                                          <option class="lt"value="two">DUE(1<sup>st)</option>
                                          <option class="lt"value="three">O-DUE(1<sup>st)</option>
                                         
                                      </select>
                </td>
                   <td>
                  <select name="sel1" class="form-control">
                                          <option value="one" >COMP(2<sup>nd)</option>
                                          <option value="two">DUE(2<sup>nd)</option>
                                          <option value="three">O-DUE(2<sup>nd)</option>
                                           
                                      </select>
                </td>
                <td></td>
                <td></td>
                 
                     
                  <td>
                  <select name="sel1" class="form-control">
                                          <option value="one" >COMP(3<sup>rd)</option>
                                          <option value="two">DUE(3<sup>rd)</option>
                                          <option value="three">O-DUE(3<sup>rd)</option>
                                          <option 
                                      </select>
                </td>
      
                  
                 </tr>
               <tr>
                
              
                <td> <a href="aboutvaccine#v5">  (PCV13)</a></td>
              <td></td>
                <td></td>
                 <td>
                  <select name="sel1" class="form-control">
                                          <option class="lt"value="one" >COMP(1<sup>st)</option>
                                          <option class="lt"value="two">DUE(1<sup>st)</option>
                                          <option class="lt"value="three">O-DUE(1<sup>st)</option>
                                         
                                      </select>
                </td>
                   <td>
                  <select name="sel1" class="form-control">
                                          <option value="one" >COMP(2<sup>nd)</option>
                                          <option value="two">DUE(2<sup>nd)</option>
                                          <option value="three">O-DUE(2<sup>nd)</option>
                                           
                                      </select>
                </td>
                     
                  <td>
                  <select name="sel1" class="form-control">
                                          <option value="one" >COMP(3<sup>rd)</option>
                                          <option value="two">DUE(3<sup>rd)</option>
                                          <option value="three">O-DUE(3<sup>rd)</option>
                                          <option 
                                      </select>
                </td>
                    <td></td>
               
                  <td>
                  <select name="sel1" class="form-control">
                                          <option value="one" >COMP(4<sup>th)</option>
                                          <option value="two">DUE(4<sup>th)</option>
                                          <option value="three">O-DUE(4<sup>th)</option>
                                          <option 
                                      </select>
                </td>
                 
                    
                 </tr>
              <tr>
                
              
                <td> <a href="aboutvaccine#v5">(IPV:<18years)</a></td>
              <td></td>
                <td></td>
                 <td>
                  <select name="sel1" class="form-control">
                                          <option class="lt"value="one" >COMP(1<sup>st)</option>
                                          <option class="lt"value="two">DUE(1<sup>st)</option>
                                          <option class="lt"value="three">O-DUE(1<sup>st)</option>
                                         
                                      </select>
                </td>
                   <td>
                  <select name="sel1" class="form-control">
                                          <option value="one" >COMP(2<sup>nd)</option>
                                          <option value="two">DUE(2<sup>nd)</option>
                                          <option value="three">O-DUE(2<sup>nd)</option>
                                           
                                      </select>
                </td>
                     
                  <td colspan="4">
                  <select name="sel1" class="form-control">
                                          <option value="one" >COMP(3<sup>rd)</option>
                                          <option value="two">DUE(3<sup>rd)</option>
                                          <option value="three">O-DUE(3<sup>rd)</option>
                                          <option 
                                      </select>
                </td>
              
                 </tr>
                 <tr>
                
              
                  <td> <a href="aboutvaccine#v7">  (Influenza (IIV4))</a></td>
                     <td></td>
              <td></td>
              <td></td>
              <td></td>
                      <td colspan="4">
                  <select name="sel1" class="form-control">
                                          <option value="one" >COMP</option>
                                          <option value="two">DUE</option>
                                          <option value="three">O-DUE</option>
                                          <option 
                                      </select>
                </td>
              
                 </tr>
               <tr>
                
              
                <td><a href="aboutvaccine#v8">  (MMR)</a></td>
                     <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
                      <td colspan="2">
                  <select name="sel1" class="form-control">
                                          <option value="one" >COMP(1<sup>st)</option>
                                          <option value="two">DUE(1<sup>st)</option>
                                          <option value="three">O-DUE(1<sup>st)</option>
                                          <option 
                                      </select>
                </td>
            
                 </tr>
              <tr>
                 <tr>
                
              
                  <td><a href="aboutvaccine#v9"> (VAR)</a></td>
           <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
                      <td colspan="2">
                  <select name="sel1" class="form-control">
                                          <option value="one" >COMP(1<sup>st)</option>
                                          <option value="two">DUE(1<sup>st)</option>
                                          <option value="three">O-DUE(1<sup>st)</option>
                                          <option 
                                      </select>
                </td>
                 </tr>
              
             
            </tbody>
            <input type="submit" value="Submit">
          </form>
          </table>
        
        </div>
        <hr> </div>
        <script src="/js/vaccine.js"></script>
    
</body>
</html>
