body {

    background-color: rgba(159, 120, 228, 0.151);

}

 

.scheme-picture{

    display:block;

    margin-left: auto;

    margin-right: auto;

 

    margin-top: 5%;

    height:auto ;

    max-width: 400px;

 

}

 

.main-title{

    text-align: center;

    padding: 30px;

    font-size: 50px;

    font-family:'Times New Roman', Times, serif;

}

 

.links{

    text-align: center;

    margin-top: 10px;

    border: 10px solid rgb(202, 14, 77);

    border-width: 5px;

    width: 500px;

    display:block ;

    margin-left: auto;

    margin-right: auto;

    font-size: 30px;

}

a{

    text-decoration: solid bisque;

    color:rgb(24, 3, 15);

    transition: color 1s;

 

}

a:hover{

    color:black;

    background-color: aliceblue;

}